<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121294171839-9huduu4uph7h5sajp5orq1vq631seeii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121294171839-9huduu4uph7h5sajp5orq1vq631seeii</string>
	<key>API_KEY</key>
	<string>AIzaSyBPxItt0SgJzUk0_e4la9DX2iUwdqg88zE</string>
	<key>GCM_SENDER_ID</key>
	<string>121294171839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ios.Tripy</string>
	<key>PROJECT_ID</key>
	<string>tripy-ios24</string>
	<key>STORAGE_BUCKET</key>
	<string>tripy-ios24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121294171839:ios:341437ee7563cd7310e00a</string>
</dict>
</plist>